if (response.success === 1) {
    this.successModal = true
    this.sucMessage = response.message
    setTimeout(() => {
        this.successModal = false;
    }, 2000);
}
else {
    this.errorModal = true
    this.errorMessage = response.message
    setTimeout(() => {
        this.errorModal = false;
    }, 2000);
}



if (data.success === 1) {
    this.successModal = true
    this.sucMessage = data.message
    setTimeout(() => {
        this.successModal = false;
    }, 2000);
}
else {
    this.errorModal = true
    this.errorMessage = data.message
    setTimeout(() => {
        this.errorModal = false;
    }, 2000);
}





sucMessage: "",
errorMessage: "",
successModal: false,
errorModal: false,





<SuccessBox :Message="sucMessage" v-if="successModal" />
<ErrorBox :Message="errorMessage" v-if="errorModal" />



import SuccessBox from '../subcomponents/SuccessBox.vue';
import ErrorBox from '../subcomponents/ErrorBox.vue';